<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.frame.dao.DicUserInfoDao">
    <select id="pageByFilter" parameterType="Map" resultType="DicUserInfo">
        <![CDATA[
			select * from Dic_UserInfo
		]]>
        <!-- where>
            <include refid="com.bestvike.commons.dao.AbstractDao.query"/>
        </where>
        <include refid="com.bestvike.commons.dao.AbstractDao.order"/ -->
    </select>
    <select id="getByCorpType" resultType="DicUserInfo">
        <![CDATA[
			select * from Dic_UserInfo where corpType in ('02','07')
		]]>
    </select>
</mapper>