<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.rfis.dao.ConBaseInfoDao">
	<select id="queryConBaseInfoByTime" parameterType="map" resultType="com.bestvike.rfis.data.ConBaseInfo">
		SELECT
		t1.contractNo,
		t1.projectNo,
		t1.sysGuid,
		t1.contractType,
		t1.bldNo,
		t1.totalPrice,
		t1.payType,
		t1.signDate,
		t1.signTime,
		t1.recorddate,
		t1.recordtime,
		t1.signingPersonnelCertcode,
		t3.houseGuid
		FROM Con_BaseInfo t1
		LEFT JOIN Con_HouseList t3
		ON t1.contractno = t3.contractno
		LEFT JOIN Arc_HouseInfo t4
		ON t3.houseguid = t4.sysguid
		<where>
			<if test="null != param.constractState and '' != param.constractState">
				t1.contractState = #{param.constractState}
			</if>
			<if test="null != param.scopeBeginTime and '' != param.scopeBeginTime">
				<![CDATA[
				AND to_date(t1.recorddate||' '||t1.recordtime,'yyyy-mm-dd hh24:mi:ss') >= to_date(#{param.scopeBeginTime},'yyyy-mm-dd hh24:mi:ss')
                ]]>
			</if>
			<if test="null != param.scopeEndTime and '' != param.scopeEndTime">
				<![CDATA[
				AND to_date(t1.recorddate||' '||t1.recordtime,'yyyy-mm-dd hh24:mi:ss') < to_date(#{param.scopeEndTime},'yyyy-mm-dd hh24:mi:ss')
                ]]>
			</if>
			<if test="null != param.isMergeTrade and '' != param.isMergeTrade">
				AND t1.isMergeTrade IS NULL AND t1.contractNo IS NOT NULL
			</if>
			<if test="null != param.houseFlag and '' != param.houseFlag">
				AND t3.isMain = #{param.houseFlag}
			</if>
			<if test="null != param.houseState and '' != param.houseState">
				AND t4.state = #{param.houseState}
			</if>
			<if test="null != param.conBaseNum">
				<![CDATA[
				AND rownum <= #{param.conBaseNum}
				  ]]>
			</if>
			<if test="null != param.byRecordTime and '' != param.byRecordTime">
				ORDER BY t1.recorddate||t1.recordtime
			</if>
		</where>
	</select>
	<update id="updateConBaseInfoByBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";" open="begin" close=";end;">
			UPDATE Con_BaseInfo
			<set>
				<if test="item.isMergeTrade != null">
					isMergeTrade = #{item.isMergeTrade},
				</if>
				<if test="item.logId != null">
					logId = #{item.logId},
				</if>
			</set>
			<where>
				<choose>
					<when test="null != item.sysGuid and '' != item.sysGuid">
						sysGuid = #{item.sysGuid}
					</when>
					<otherwise>
						0 = 1
					</otherwise>
				</choose>
			</where>
		</foreach>
	</update>
	<select id="countConBaseInfo" resultType="java.lang.Integer">
		SELECT
		COUNT(t1.sysGuid) FROM Con_BaseInfo t1
		LEFT JOIN Con_HouseList t3
		ON t1.contractno = t3.contractno
		LEFT JOIN Arc_HouseInfo t4
		ON t3.houseguid = t4.sysguid
		<where>
			<if test="null != param.constractState and '' != param.constractState">
				t1.contractState = #{param.constractState}
			</if>
			<if test="null != param.scopeBeginTime and '' != param.scopeBeginTime">
				<![CDATA[
				AND to_date(t1.recorddate||' '||t1.recordtime,'yyyy-mm-dd hh24:mi:ss') >= to_date(#{param.scopeBeginTime},'yyyy-mm-dd hh24:mi:ss')
                ]]>
			</if>
			<if test="null != param.scopeEndTime and '' != param.scopeEndTime">
				<![CDATA[
				AND to_date(t1.recorddate||' '||t1.recordtime,'yyyy-mm-dd hh24:mi:ss') < to_date(#{param.scopeEndTime},'yyyy-mm-dd hh24:mi:ss')
                ]]>
			</if>
			<if test="null != param.isMergeTrade and '' != param.isMergeTrade">
				AND t1.isMergeTrade IS NULL AND t1.contractNo IS NOT NULL
			</if>
			<if test="null != param.houseFlag and '' != param.houseFlag">
				AND t3.isMain = #{param.houseFlag}
			</if>
			<if test="null != param.houseState and '' != param.houseState">
				AND t4.state = #{param.houseState}
			</if>
		</where>
	</select>
</mapper>