<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.rfis.dao.ConBuyerInfoDao">
    <select id="queryConBuyerInfoBycontractNo" parameterType="string" resultType="ConBuyerInfo">
        <![CDATA[
			select * from Con_BuyerInfo where contractNo = #{contractNo}
		]]>
    </select>

    <select id="queryConBuyerInfoCountBycontractNo" parameterType="map" resultType="Integer">
        <![CDATA[
			select count(*) from Con_BuyerInfo where contractNo = #{contractNo} and buyType = #{buyType}
		]]>
    </select>
</mapper>