<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.rfis.dao.ConSubscribInfoDao">
    <select id="queryConSubscribInfoByContractNo" resultType="ConSubscribInfo">
        <![CDATA[
			select * from Con_SubscribInfo where contractNo = #{contractNo}
		]]>
    </select>
</mapper>