<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.rfis.dao.SequenceDao">
	<!-- 根据序列生成中间表的主键 -->
	<select id="generateTradeXH" resultType="java.lang.String">
		select lpad(seq_trade_record_xh.nextval, 7, '0') from dual
	</select>
	<!-- 根据序列生成日志表的主键 -->
	<select id="generateLogId" resultType="java.lang.String">
		select lpad(seq_log_data_id.nextval, 10, '0') from dual
	</select>
</mapper>
