<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.portal.dao.LogFileDao">
    <select id="selectCompanyFile" parameterType="Map" resultType="LogFile">
        <![CDATA[
            select * from log_file
            where key_id = #{keyId} and file_type = #{fileType} and file_state = #{fileState} and sub_type in ('20','21')
		]]>
    </select>
    <select id="selectOwnerFile" parameterType="Map" resultType="LogFile">
        <![CDATA[
            select * from log_file
            where key_id = #{keyId} and file_type = #{fileType} and file_state = #{fileState} and sub_type in ('9917')
		]]>
    </select>
    <select id="selectPreReqFile" parameterType="Map" resultType="LogFile">
        <![CDATA[
            select * from log_file
            where key_id = #{keyId} and file_type = #{fileType} and file_state = #{fileState} and sub_type in ('9918','09','9919')
		]]>
    </select>
    <select id="selectReqAllFile" parameterType="Map" resultType="LogFile">
        <![CDATA[
            select * from log_file
            where key_id = #{keyId} and file_type = #{fileType} and file_state = #{fileState} and sub_type in ('9918','09','9919','9920','12','14')
		]]>
    </select>
    <select id="selectReqFile" parameterType="Map" resultType="LogFile">
        <![CDATA[
            select * from log_file
            where key_id = #{keyId} and file_type = #{fileType} and file_state = #{fileState} and sub_type in ('9920','12','14')
		]]>
    </select>
    <select id="selectSignFile" parameterType="Map" resultType="LogFile">
        <![CDATA[
            select * from log_file
            where key_id = #{keyId} and file_type = #{fileType} and file_state = #{fileState} and sub_type in ('9921','9922','13')
		]]>
    </select>
    <select id="selectCompleteFile" parameterType="Map" resultType="LogFile">
        <![CDATA[
            select * from log_file
            where key_id = #{keyId} and file_type = #{fileType} and file_state = #{fileState} and sub_type in ('17')
		]]>
    </select>
    <select id="selectCompleteAllFile" parameterType="Map" resultType="LogFile">
        <![CDATA[
            select * from log_file
            where key_id = #{keyId} and file_type = #{fileType} and file_state = #{fileState} and sub_type in ('9921','9922','13','17')
		]]>
    </select>
    <update id="updateShowName" parameterType="LogFile">
        <![CDATA[
            update log_file set show_name = #{showName} where file_id = #{fileId}
        ]]>
    </update>
    <update id="deleteById" parameterType="LogFile">
        <![CDATA[
            update log_file set file_state = '9000', delete_time = #{deleteTime}, delete_user = #{deleteUser} where file_id = #{fileId}
        ]]>
    </update>
    <update id="updateKeyId" parameterType="LogFile">
        <![CDATA[
            update log_file set key_id = #{keyId} where file_id = #{fileId}
        ]]>
    </update>
</mapper>
