<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.portal.dao.SysAreaDao">

    <!-- 根据区域编号查询上级区域代码  ybb  2018年2月24日16:24:56-->
    <select id="queryParentAreaByAreaCode" parameterType="String" resultType="String">
        <![CDATA[
			select parent_area from sys_area where area_code = #{areaCode}
		]]>
    </select>
</mapper>