<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.portal.dao.SysDeptDao">
    <select id="selectMaxDeptId" parameterType="String" resultType="String">
        <![CDATA[
			select max(dept_id) as maxDeptId from sys_dept
			where parent_dept = #{parentDept}
		]]>
    </select>
    <select id="selectByAreaCode" parameterType="String" resultType="SysDept">
        <![CDATA[
			select * from sys_dept
			where dept_state = '0000' and area_code is null or area_code like #{areaCode}
			order by show_order, dept_id
		]]>
    </select>
    <insert id="insertFromDatacenter" parameterType="SysDept">
        <![CDATA[
			insert into sys_dept(dept_id, dept_name, dept_level, parent_dept, dept_address, datacenter_id, version_number, version_time)
			values (#{deptId}, #{deptName}, #{deptLevel}, #{parentDept}, #{deptAddress}, #{datacenterId}, #{versionNumber}, #{versionTime})
		]]>
    </insert>
    <update id="updateVersion" parameterType="com.bestvike.datacenter.entity.Version">
        <![CDATA[
			update sys_dept
			set version_number = #{versionNumber}, version_time = #{versionTime}
			where datacenter_id = #{datacenterId}
		]]>
    </update>
    <insert id="updateFromDatacenter" parameterType="SysDept">
        <![CDATA[
			update sys_dept set dept_name = #{deptName}, dept_address = #{deptAddress}, version_number = #{versionNumber}, version_time = #{versionTime}
			where datacenter_id = #{datacenterId}
		]]>
    </insert>
    <update id="updateForDelete" parameterType="String">
        <![CDATA[
			update sys_dept
			set dept_state = '9999'
			where dept_id = #{deptId}
		]]>
    </update>
	<select id="getCorpTypeByDeptId" parameterType="String" resultType="String">
		<![CDATA[
			select dept_id from sys_dept t where t.dept_level = '1'
				start with t.dept_id = #{deptId} connect by prior t.parent_dept = t.dept_id
		]]>
	</select>

    <!--根据机构ID查询用户对应的数据集中平台ID  ybb  2018年2月26日10:34:11-->
    <select id="queryDatacenterIdByDeptId" parameterType="String" resultType="String">
        <![CDATA[
			select datacenter_id from sys_dept t where t.dept_id = #{deptId}
		]]>
    </select>
</mapper>