<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.portal.dao.SysRoleDao">
    <select id="selectAllExtend" resultType="SysRole">
        <![CDATA[
            select sr.*, sa.app_name from sys_role sr
            left join sys_app sa
            on sr.app_code = sa.app_code
        ]]>
    </select>
    <select id="selectOrder" resultType="Integer">
        <![CDATA[
            select nvl(max(show_order), 0) + 1 from sys_role
        ]]>
    </select>
    <select id="selectOrder_mariadb" resultType="Integer">
        <![CDATA[
            select ifnull(max(show_order), 0) + 1 from sys_role
        ]]>
    </select>
</mapper>