<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.portal.dao.TradeRecordDao">
	<insert id="insertBatchTradeRecode">
		INSERT INTO TRADE_RECORD
		(XH,
		YWBH,
		LLYWLB,
		LLYWLBBM,
		SJYWLB,
		YYWBH,
		JYZT,
		JYYWZMZSMC,
		JYYWZMZSMCBM,
		JYYWZMZSH,
		DJYWZMZSMC,
		DJYWZMZSMCBM,
		DJYWZMZSH,
		JYZLB,
		JYZLBBM,
		JYZQC,
		JYZZJMC,
		JYZZJMCBM,
		JYZZJHM,
		JYZXZ,
		JYZXZBM,
		JYZHJ,
		JYZHJXZQH,
		BDCDYH,
		FWBM,
		FWZT,
		XZQHDM,
		QX,
		XZJDB,
		JJXZQH,
		JJXZQHDM,
		LJX,
		XQ,
		LH,
		SZQSC,
		SZZZC,
		MYC,
		DY,
		FH,
		FWZL,
		HXJS,
		HXJSBM,
		HXJG,
		HXJGBM,
		FWCX,
		FWCXBM,
		JZMJ,
		TNJZMJ,
		GTJZMJ,
		GHYT,
		JZJG,
		JZJGBM,
		FWYT,
		FWYTBM,
		FWXZ,
		FWXZBM,
		FWLX,
		FWLXBM,
		GYFS,
		GYFSBM,
		SZFE,
		CJJE,
		FKLX,
		FKLXBM,
		DKFS,
		DKFSBM,
		HTSXRQ,
		YWBJSJ,
		YWBJRSFZH,
		YWBLSZXZQHDM)
		<foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
			SELECT
			#{item.XH},
			#{item.YWBH},
			#{item.LLYWLB},
			#{item.LLYWLBBM},
			#{item.SJYWLB},
			#{item.YYWBH},
			#{item.JYZT},
			#{item.JYYWZMZSMC},
			#{item.JYYWZMZSMCBM},
			#{item.JYYWZMZSH},
			#{item.DJYWZMZSMC},
			#{item.DJYWZMZSMCBM},
			#{item.DJYWZMZSH},
			#{item.JYZLB},
			#{item.JYZLBBM},
			#{item.JYZQC},
			#{item.JYZZJMC},
			#{item.JYZZJMCBM},
			#{item.JYZZJHM},
			#{item.JYZXZ},
			#{item.JYZXZBM},
			#{item.JYZHJ},
			#{item.JYZHJXZQH},
			#{item.BDCDYH},
			#{item.FWBM},
			#{item.FWZT},
			#{item.XZQHDM},
			#{item.QX},
			#{item.XZJDB},
			#{item.JJXZQH},
			#{item.JJXZQHDM},
			#{item.LJX},
			#{item.XQ},
			#{item.LH},
			#{item.SZQSC},
			#{item.SZZZC},
			#{item.MYC},
			#{item.DY},
			#{item.FH},
			#{item.FWZL},
			#{item.HXJS},
			#{item.HXJSBM},
			#{item.HXJG},
			#{item.HXJGBM},
			#{item.FWCX},
			#{item.FWCXBM},
			#{item.JZMJ},
			#{item.TNJZMJ},
			#{item.GTJZMJ},
			#{item.GHYT},
			#{item.JZJG},
			#{item.JZJGBM},
			#{item.FWYT},
			#{item.FWYTBM},
			#{item.FWXZ},
			#{item.FWXZBM},
			#{item.FWLX},
			#{item.FWLXBM},
			#{item.GYFS},
			#{item.GYFSBM},
			#{item.SZFE},
			#{item.CJJE},
			#{item.FKLX},
			#{item.FKLXBM},
			#{item.DKFS},
			#{item.DKFSBM},
			#{item.HTSXRQ},
			#{item.YWBJSJ},
			#{item.YWBJRSFZH},
			#{item.YWBLSZXZQHDM}
			FROM dual
		</foreach>
	</insert>

	<select id="selectByParamter" parameterType="Map" resultType="TradeRecord">
		select * from (select t.*, t.rowid from TRADE_RECORD t  where t.xh >= #{begin_xh}  ORDER BY t.xh ASC) where rownum <![CDATA[ <= ]]> #{count}
    </select>

	<select id="selectByParamterCLF" parameterType="Map" resultType="TradeRecord">
		select * from (select t.*, t.rowid from TRADE_RECORD_CLF t  where t.xh >= #{begin_xh}  ORDER BY t.xh ASC) where rownum <![CDATA[ <= ]]> #{count}
    </select>


</mapper>
